In [4]:
! ls -lah

total 188M
drwxrwxr-x  3 megan megan 4.0K Feb 24 19:24 .
drwxr-x--- 15 megan megan 4.0K Feb 24 19:23 ..
drwxrwxr-x  2 megan megan 4.0K Feb 24 19:21 .ipynb_checkpoints
-rw-rw-r--  1 megan megan   72 Feb 19 17:47 Untitled.ipynb
-rw-rw-r--  1 megan megan  16K Feb 24 19:23 Untitled1.ipynb
-rw-rw-r--  1 megan megan 5.0K Feb  3 16:22 cache.ipynb
-rw-r-----  1 megan megan 167M Nov  1 18:05 hdma-wi-2021.csv
-rw-rw-r--  1 megan megan  21M Jan  5 20:30 hdma-wi-2021.zip
-rw-rw-r--  1 megan megan 8.3K Feb 13 20:50 locks.ipynb
-rw-rw-r--  1 megan megan 172K Feb 10 16:17 pytorch.ipynb
-rw-rw-r--  1 megan megan 1.9K Feb 10 16:41 threading.ipynb

In [1]:
! sudo sh -c "echo 3 > /proc/sys/vm/drop_caches"
import time, pandas as pd

t0 = time.time()
#df = pd.read_csv("hdma-wi-2021.csv")
df = pd.read_csv("hdma-wi-2021.csv", dtype={col: str for col in [22,23,24,26,27,28,29,30,31,32,33,38,43,44]})
t1 = time.time()
avg = df["loan_amount"].mean()
t2 = time.time()
print("avg loan:", avg)
print("total columns:", len(df.columns))
print("data load seconds:", t1-t0)
print("computation seconds:", t2-t1)

avg loan: 204961.21752386744
total columns: 99
data load seconds: 6.0998780727386475
computation seconds: 0.011187314987182617

In [2]:
df.to_parquet('loans.parquet')

In [2]:
! sudo sh -c "echo 3 > /proc/sys/vm/drop_caches"
import time, pandas as pd

t0 = time.time()

df = pd.read_parquet("loans.parquet")
t1 = time.time()
avg = df["loan_amount"].mean()
t2 = time.time()
print("avg loan:", avg)
print("total columns:", len(df.columns))
print("data load seconds:", t1-t0)
print("computation seconds:", t2-t1)

avg loan: 204961.21752386744
total columns: 99
data load seconds: 1.2412755489349365
computation seconds: 0.0033636093139648438

In [3]:
df = None

In [4]:
## only read one col

In [6]:
! sudo sh -c "echo 3 > /proc/sys/vm/drop_caches"
import time, pandas as pd

t0 = time.time()

df = pd.read_csv("hdma-wi-2021.csv", usecols=['loan_amount'])
t1 = time.time()
avg = df["loan_amount"].mean()
t2 = time.time()
print("avg loan:", avg)
print("total columns:", len(df.columns))
print("data load seconds:", t1-t0)
print("computation seconds:", t2-t1)

avg loan: 204961.21752386744
total columns: 1
data load seconds: 1.943986177444458
computation seconds: 0.0018086433410644531

In [7]:
! sudo sh -c "echo 3 > /proc/sys/vm/drop_caches"
import time, pandas as pd

t0 = time.time()

df = pd.read_parquet("loans.parquet", columns=['loan_amount'])
t1 = time.time()
avg = df["loan_amount"].mean()
t2 = time.time()
print("avg loan:", avg)
print("total columns:", len(df.columns))
print("data load seconds:", t1-t0)
print("computation seconds:", t2-t1)

avg loan: 204961.21752386744
total columns: 1
data load seconds: 0.02984929084777832
computation seconds: 0.002114534378051758

In [1]:
## compression

In [3]:
import pandas as pd
import time
df = pd.read_parquet("loans.parquet")

In [4]:
%%time
df.to_parquet("snappy.parquet", compression="snappy")

CPU times: user 2.07 s, sys: 109 ms, total: 2.18 s
Wall time: 2.34 s

In [5]:
%%time
df.to_parquet("gzip.parquet", compression="gzip")

CPU times: user 3.72 s, sys: 239 ms, total: 3.96 s
Wall time: 4.11 s

In [6]:
# infers that it is gzip
pd.read_parquet("gzip.parquet", columns=["loan_amount"]).head()

   loan_amount
0     305000.0
1      65000.0
2      75000.0
3     155000.0
4     305000.0