In [2]:
471859200 / 1024 / 1024 # need 450 MB minimum

450.0

In [3]:
from pyspark.sql import SparkSession
spark = (SparkSession.builder.appName("cs544")
         .master("spark://main:7077")
         .config("spark.executor.memory", "512M")
         .config("spark.sql.warehouse.dir", "hdfs://main:9000/user/hive/warehouse")
         .enableHiveSupport()
         .getOrCreate())

23/03/08 16:11:10 WARN SparkContext: Another SparkContext is being constructed (or threw an exception in its constructor). This may indicate an error, since only one SparkContext should be running in this JVM (see SPARK-2243). The other SparkContext was created at:
org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
java.lang.reflect.Constructor.newInstance(Constructor.java:423)
py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
py4j.Gateway.invoke(Gateway.java:238)
py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
py4j.ClientServerConnection.run(ClientServerConnection.java:106)
java.lang.Thread.run(Thread.java:750)

In [4]:
# spark context is for working directly with RDDs (we won't do that today)
sc = spark.sparkContext

In [5]:
# TO READ:
# spark.read.call.another_call...load(path)
# df.write.call.another_call...save(path)

In [9]:
!hdfs dfs -cp sf.csv hdfs://main:9000/sf.csv

In [18]:
df = (spark.read.format("csv")
    .option("header", True)
    .option("inferSchema", True)
    .load("hdfs://main:9000/sf.csv"))

In [20]:
df.count()

6016056

In [19]:
df.dtypes

[('Call Number', 'int'),
 ('Unit ID', 'string'),
 ('Incident Number', 'int'),
 ('Call Type', 'string'),
 ('Call Date', 'string'),
 ('Watch Date', 'string'),
 ('Received DtTm', 'string'),
 ('Entry DtTm', 'string'),
 ('Dispatch DtTm', 'string'),
 ('Response DtTm', 'string'),
 ('On Scene DtTm', 'string'),
 ('Transport DtTm', 'string'),
 ('Hospital DtTm', 'string'),
 ('Call Final Disposition', 'string'),
 ('Available DtTm', 'string'),
 ('Address', 'string'),
 ('City', 'string'),
 ('Zipcode of Incident', 'int'),
 ('Battalion', 'string'),
 ('Station Area', 'string'),
 ('Box', 'string'),
 ('Original Priority', 'string'),
 ('Priority', 'string'),
 ('Final Priority', 'int'),
 ('ALS Unit', 'boolean'),
 ('Call Type Group', 'string'),
 ('Number of Alarms', 'int'),
 ('Unit Type', 'string'),
 ('Unit sequence in call dispatch', 'int'),
 ('Fire Prevention District', 'string'),
 ('Supervisor District', 'string'),
 ('Neighborhooods - Analysis Boundaries', 'string'),
 ('RowID', 'string'),
 ('case_location', 'string'),
 ('Analysis Neighborhoods', 'int')]

In [21]:
#df.show()
# df.toPandas()    # this would run out of memory
df.limit(10).toPandas()

,Call Number,Unit ID,Incident Number,Call Type,Call Date,Watch Date,Received DtTm,Entry DtTm,Dispatch DtTm,Response DtTm,...,Call Type Group,Number of Alarms,Unit Type,Unit sequence in call dispatch,Fire Prevention District,Supervisor District,Neighborhooods - Analysis Boundaries,RowID,case_location,Analysis Neighborhoods
0,221210313,E36,22054955,Outside Fire,05/01/2022,04/30/2022,05/01/2022 02:58:25 AM,05/01/2022 02:59:15 AM,05/01/2022 02:59:25 AM,05/01/2022 03:01:06 AM,...,Fire,1,ENGINE,1,2,5,Hayes Valley,221210313-E36,POINT (-122.42316555403964 37.77781524520032),9
1,220190150,E29,22008871,Alarms,01/19/2022,01/18/2022,01/19/2022 01:42:12 AM,01/19/2022 01:44:13 AM,01/19/2022 01:44:28 AM,01/19/2022 01:46:47 AM,...,Alarm,1,ENGINE,1,3,10,Potrero Hill,220190150-E29,POINT (-122.39469970274361 37.76460987856451),26
2,211233271,T07,21053032,Alarms,05/03/2021,05/03/2021,05/03/2021 09:28:12 PM,05/03/2021 09:28:12 PM,05/03/2021 09:28:17 PM,05/03/2021 09:29:10 PM,...,Alarm,1,TRUCK,2,2,9,Mission,211233271-T07,POINT (-122.42057572093252 37.76418194637148),20
3,212933533,B02,21127914,Alarms,10/20/2021,10/20/2021,10/20/2021 10:08:47 PM,10/20/2021 10:09:53 PM,10/20/2021 10:10:07 PM,10/20/2021 10:11:55 PM,...,Alarm,1,CHIEF,3,3,6,Tenderloin,212933533-B02,POINT (-122.41243514072728 37.78347684038771),36
4,221202543,E41,22054815,Alarms,04/30/2022,04/30/2022,04/30/2022 06:35:58 PM,04/30/2022 06:37:28 PM,04/30/2022 06:37:43 PM,04/30/2022 06:38:17 PM,...,Alarm,1,ENGINE,4,4,2,Russian Hill,221202543-E41,POINT (-122.4233369425531 37.799534868680034),32
5,211232439,B01,21052945,Alarms,05/03/2021,05/03/2021,05/03/2021 04:57:21 PM,05/03/2021 04:58:39 PM,05/03/2021 04:58:44 PM,05/03/2021 05:00:27 PM,...,Alarm,1,CHIEF,2,1,6,Tenderloin,211232439-B01,POINT (-122.41299723589606 37.78626844171642),36
6,211942517,T03,21083057,Alarms,07/13/2021,07/13/2021,07/13/2021 04:50:10 PM,07/13/2021 04:51:07 PM,07/13/2021 04:51:17 PM,None,...,Alarm,1,TRUCK,3,2,6,Tenderloin,211942517-T03,POINT (-122.42090696864193 37.784067668377766),36
7,212932758,B01,21127810,Alarms,10/20/2021,10/20/2021,10/20/2021 05:46:09 PM,10/20/2021 05:47:57 PM,10/20/2021 05:48:05 PM,10/20/2021 05:49:54 PM,...,Alarm,1,CHIEF,2,1,3,North Beach,212932758-B01,POINT (-122.40987728293031 37.808050096906186),23
8,221201816,T03,22054719,Structure Fire,04/30/2022,04/30/2022,04/30/2022 02:27:39 PM,04/30/2022 02:28:53 PM,04/30/2022 02:29:13 PM,04/30/2022 02:31:58 PM,...,Alarm,1,TRUCK,3,2,6,South of Market,221201816-T03,POINT (-122.41471100467277 37.77623051778801),34
9,211941580,SCRT4,21082970,Medical Incident,07/13/2021,07/13/2021,07/13/2021 12:23:31 PM,07/13/2021 12:28:02 PM,07/13/2021 12:47:21 PM,07/13/2021 12:47:21 PM,...,Non Life-threatening,1,SUPPORT,1,8,7,West of Twin Peaks,211941580-SCRT4,POINT (-122.46750730609165 37.73983589352891),41

In [22]:
df

DataFrame[Call Number: int, Unit ID: string, Incident Number: int, Call Type: string, Call Date: string, Watch Date: string, Received DtTm: string, Entry DtTm: string, Dispatch DtTm: string, Response DtTm: string, On Scene DtTm: string, Transport DtTm: string, Hospital DtTm: string, Call Final Disposition: string, Available DtTm: string, Address: string, City: string, Zipcode of Incident: int, Battalion: string, Station Area: string, Box: string, Original Priority: string, Priority: string, Final Priority: int, ALS Unit: boolean, Call Type Group: string, Number of Alarms: int, Unit Type: string, Unit sequence in call dispatch: int, Fire Prevention District: string, Supervisor District: string, Neighborhooods - Analysis Boundaries: string, RowID: string, case_location: string, Analysis Neighborhoods: int]

# DataFrame operations

In [23]:
from pyspark.sql.functions import col, expr

In [24]:
col("x")

Column<'x'>

In [25]:
expr("x+1")

Column<'(x + 1)'>

In [26]:
expr("x+1").alias("plusone")   # like "AS" in SQL

Column<'(x + 1) AS plusone'>

# limit is non-deterministic
df.limit(5).select(col("Call Type"), col("Call Date")).toPandas()

In [50]:
df.limit(5).select(
    expr("UPPER(`Call Type`)").alias("Type"),
    expr("to_date(`Call Date`, 'MM/dd/yyyy')").alias("Date")
).toPandas()

           Type        Date
0  OUTSIDE FIRE  2022-05-01
1        ALARMS  2022-01-19
2        ALARMS  2021-05-03
3        ALARMS  2021-10-20
4        ALARMS  2022-04-30

In [52]:
df.select(
    expr("UPPER(`Call Type`)").alias("Type"),
    expr("to_date(`Call Date`, 'MM/dd/yyyy')").alias("Date")
).where(col("Type").startswith("ODOR")).limit(10).toPandas()

                       Type        Date
0  ODOR (STRANGE / UNKNOWN)  2021-04-20
1  ODOR (STRANGE / UNKNOWN)  2021-04-20
2  ODOR (STRANGE / UNKNOWN)  2021-10-07
3  ODOR (STRANGE / UNKNOWN)  2022-07-15
4  ODOR (STRANGE / UNKNOWN)  2021-10-08
5  ODOR (STRANGE / UNKNOWN)  2022-01-06
6  ODOR (STRANGE / UNKNOWN)  2022-01-06
7  ODOR (STRANGE / UNKNOWN)  2022-01-06
8  ODOR (STRANGE / UNKNOWN)  2021-04-22
9  ODOR (STRANGE / UNKNOWN)  2022-04-19

# Write a DataFrame as parquet

In [60]:
columns = [col(c).alias(c.replace(" ", "")) for c in df.columns]

In [63]:
# df.select(columns).write.format("parquet").save("hdfs://main:9000/sf.parquet")

In [67]:
df.rdd.getNumPartitions()

17

In [64]:
df.select(columns).write.format("parquet").mode("overwrite").save("hdfs://main:9000/sf.parquet")

In [69]:
!hdfs dfs -ls hdfs://main:9000/

Found 2 items
-rw-r--r--   3 root supergroup 2265533682 2023-03-08 16:17 hdfs://main:9000/sf.csv
drwxr-xr-x   - root supergroup          0 2023-03-08 16:37 hdfs://main:9000/sf.parquet

In [72]:
# when spark writes parquet, it actually writes many files (1 per partition)
!hdfs dfs -du -h hdfs://main:9000/sf.parquet

0       0        hdfs://main:9000/sf.parquet/_SUCCESS
26.5 M  79.6 M   hdfs://main:9000/sf.parquet/part-00000-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
26.5 M  79.5 M   hdfs://main:9000/sf.parquet/part-00001-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
38.6 M  115.8 M  hdfs://main:9000/sf.parquet/part-00002-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
34.3 M  103.0 M  hdfs://main:9000/sf.parquet/part-00003-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
34.4 M  103.1 M  hdfs://main:9000/sf.parquet/part-00004-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
34.4 M  103.2 M  hdfs://main:9000/sf.parquet/part-00005-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
34.3 M  102.8 M  hdfs://main:9000/sf.parquet/part-00006-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
34.2 M  102.7 M  hdfs://main:9000/sf.parquet/part-00007-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
34.7 M  104.2 M  hdfs://main:9000/sf.parquet/part-00008-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
33.7 M  101.2 M  hdfs://main:9000/sf.parquet/part-00009-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
32.7 M  98.0 M   hdfs://main:9000/sf.parquet/part-00010-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
32.4 M  97.1 M   hdfs://main:9000/sf.parquet/part-00011-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
31.9 M  95.8 M   hdfs://main:9000/sf.parquet/part-00012-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
33.3 M  99.8 M   hdfs://main:9000/sf.parquet/part-00013-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
34.1 M  102.2 M  hdfs://main:9000/sf.parquet/part-00014-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
34.1 M  102.3 M  hdfs://main:9000/sf.parquet/part-00015-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet
28.0 M  84.0 M   hdfs://main:9000/sf.parquet/part-00016-d2f50fdd-7431-4d52-b976-1f1e59f0a0e0-c000.snappy.parquet

In [73]:
df = spark.read.format("parquet").load("hdfs://main:9000/sf.parquet")

In [75]:
# df.dtypes

In [76]:
df.count()

6016056

In [77]:
df.rdd.getNumPartitions()

6

In [81]:
# a view doesn't compute anything, it describes how
# df.createTempView("calls")
df.createOrReplaceTempView("calls")

In [82]:
# spark.sql(QUERY)

In [84]:
spark.sql("SHOW TABLES").show()   # shows both views and tables

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |    calls|       true|
+---------+---------+-----------+

In [85]:
spark.sql("""
SELECT *
FROM calls
LIMIT 10
""")

DataFrame[CallNumber: int, UnitID: string, IncidentNumber: int, CallType: string, CallDate: string, WatchDate: string, ReceivedDtTm: string, EntryDtTm: string, DispatchDtTm: string, ResponseDtTm: string, OnSceneDtTm: string, TransportDtTm: string, HospitalDtTm: string, CallFinalDisposition: string, AvailableDtTm: string, Address: string, City: string, ZipcodeofIncident: int, Battalion: string, StationArea: string, Box: string, OriginalPriority: string, Priority: string, FinalPriority: int, ALSUnit: boolean, CallTypeGroup: string, NumberofAlarms: int, UnitType: string, Unitsequenceincalldispatch: int, FirePreventionDistrict: string, SupervisorDistrict: string, Neighborhooods-AnalysisBoundaries: string, RowID: string, case_location: string, AnalysisNeighborhoods: int]

In [87]:
spark.sql("""
SELECT *
FROM calls
LIMIT 10
""").toPandas()

,CallNumber,UnitID,IncidentNumber,CallType,CallDate,WatchDate,ReceivedDtTm,EntryDtTm,DispatchDtTm,ResponseDtTm,...,CallTypeGroup,NumberofAlarms,UnitType,Unitsequenceincalldispatch,FirePreventionDistrict,SupervisorDistrict,Neighborhooods-AnalysisBoundaries,RowID,case_location,AnalysisNeighborhoods
0,201340825,T06,20055834,Other,05/13/2020,05/13/2020,05/13/2020 08:51:30 AM,05/13/2020 08:51:30 AM,05/13/2020 08:54:56 AM,05/13/2020 08:55:10 AM,...,Alarm,1,TRUCK,1,2,8,Mission,201340825-T06,POINT (-122.42251458613262 37.770727334245194),20
1,201241707,FB3,20052084,Outside Fire,05/03/2020,05/03/2020,05/03/2020 01:46:02 PM,05/03/2020 01:46:02 PM,05/03/2020 01:46:11 PM,05/03/2020 01:47:41 PM,...,Alarm,1,SUPPORT,2,1,3,Financial District/South Beach,201241707-FB3,POINT (-122.3946511276673 37.79530574375478),8
2,201083222,AM118,20045948,Medical Incident,04/17/2020,04/17/2020,04/17/2020 09:19:43 PM,04/17/2020 09:19:43 PM,04/17/2020 09:21:10 PM,04/17/2020 09:21:55 PM,...,Non Life-threatening,1,PRIVATE,2,2,6,South of Market,201083222-AM118,POINT (-122.41071806030364 37.778959763358266),34
3,201160160,54,20048802,Medical Incident,04/25/2020,04/24/2020,04/25/2020 01:39:37 AM,04/25/2020 01:41:00 AM,04/25/2020 01:42:09 AM,04/25/2020 01:42:22 AM,...,Potentially Life-Threatening,1,MEDIC,1,2,6,Tenderloin,201160160-54,POINT (-122.41632744176792 37.78244849821827),36
4,201382742,70,20057634,Medical Incident,05/17/2020,05/17/2020,05/17/2020 06:16:44 PM,05/17/2020 06:19:46 PM,05/17/2020 06:20:39 PM,05/17/2020 06:20:42 PM,...,Non Life-threatening,1,MEDIC,1,3,6,Mission Bay,201382742-70,POINT (-122.39820071397247 37.772033503746634),4
5,201471465,82,20061098,Medical Incident,05/26/2020,05/26/2020,05/26/2020 11:28:57 AM,05/26/2020 11:32:34 AM,05/26/2020 11:46:47 AM,05/26/2020 11:46:47 AM,...,Potentially Life-Threatening,1,MEDIC,4,7,1,Golden Gate Park,201471465-82,POINT (-122.5004598282247 37.76815687556086),12
6,201323381,94,20055383,Medical Incident,05/11/2020,05/11/2020,05/11/2020 10:58:24 PM,05/11/2020 11:00:56 PM,05/11/2020 11:01:34 PM,05/11/2020 11:01:52 PM,...,Potentially Life-Threatening,1,MEDIC,2,2,6,Mission,201323381-94,POINT (-122.40800720584919 37.76924401107554),20
7,201413221,QRV1,20058866,Medical Incident,05/20/2020,05/20/2020,05/20/2020 08:17:16 PM,05/20/2020 08:17:16 PM,05/20/2020 08:17:30 PM,05/20/2020 08:17:33 PM,...,Potentially Life-Threatening,1,SUPPORT,1,2,6,Tenderloin,201413221-QRV1,POINT (-122.41906982202991 37.77843736682197),36
8,201282947,AM118,20053839,Medical Incident,05/07/2020,05/07/2020,05/07/2020 05:59:37 PM,05/07/2020 06:03:16 PM,05/07/2020 06:04:50 PM,05/07/2020 06:05:25 PM,...,Non Life-threatening,1,PRIVATE,2,None,6,Treasure Island,201282947-AM118,POINT (-122.36513827228869 37.81052072252062),37
9,201251640,E29,20052477,Outside Fire,05/04/2020,05/04/2020,05/04/2020 12:47:36 PM,05/04/2020 12:48:49 PM,05/04/2020 12:48:53 PM,05/04/2020 12:50:17 PM,...,Fire,1,ENGINE,1,2,10,Potrero Hill,201251640-E29,POINT (-122.40556651195942 37.76330275793136),20

In [90]:
df.select(
    expr("UPPER(`CallType`)").alias("Type"),
    expr("to_date(`CallDate`, 'MM/dd/yyyy')").alias("Date")
).where(col("Type").startswith("ODOR")).limit(3).toPandas()

                       Type        Date
0  ODOR (STRANGE / UNKNOWN)  2020-04-21
1  ODOR (STRANGE / UNKNOWN)  2020-05-15
2  ODOR (STRANGE / UNKNOWN)  2020-05-09

In [100]:
spark.sql("""
SELECT UPPER(CallType) AS Type, TO_DATE(CallDate, 'MM/dd/yyyy') AS Date
FROM calls
WHERE UPPER(CallType) LIKE 'ODOR%'
LIMIT 3
""").toPandas()

                       Type        Date
0  ODOR (STRANGE / UNKNOWN)  2020-04-21
1  ODOR (STRANGE / UNKNOWN)  2020-05-15
2  ODOR (STRANGE / UNKNOWN)  2020-05-09